# Dependencias
node_modules/
vendor/

# Archivos de entorno
.env
.env.*

# Laravel
backend/storage/*.key
backend/storage/logs/*.log
backend/.phpunit.result.cache
backend/node_modules/

# React / Vite
frontend/dist/
frontend/dist-ssr/

# Sistema
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*.swn

# Logs
*.log

# Editor
.vscode/
.idea/
